---
import { languages } from "../../i18n/ui";
import { localeT } from "../../i18n/types";

const activeLang = Astro.params.locale;

const route = (locale: string | undefined) => {
	if (locale === localeT.EN || locale === localeT.FR) {
		return "";
	}

	return locale;
};
---

<ul class="flex items-center gap-2">
	{
		Object.entries(languages).map(([lang, label]) => (
			<li
				class={`${activeLang === lang ? "bg-nina-beige text-nina-navy" : "bg-nina-navy text-nina-beige"} w-8 rounded-full p-1 text-center transition-all duration-150`}
			>
				<a href={`/${lang}/${route(activeLang) || ""}`}>{label}</a>
			</li>
		))
	}
</ul>
