@import "tailwindcss";

html {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.inter-900 {
	font-weight: 900;
}

.inter-300 {
	font-weight: 300;
}

@theme {
	--color-nina-navy: #161b22;
	--color-nina-orange: #e4ab49;
	--color-nina-beige: #dad4c4;
	--color-nina-beige-2: #cbbba0;
}
