---
import ninaLogo from "../../assets/nina-logo.png";
import LangPicker from "../i18n/LangPicker.astro";
---

<nav class="grid grid-cols-3 gap-4 p-4">
	<div>
		<img src={ninaLogo.src} alt="Nina Logo" class="h-12 w-auto" />
	</div>
	<div class="flex items-start justify-center">
		<button
			class="bg-nina-blue border-nina-beige text-nina-beige rounded-full border px-4 py-1 text-sm hover:bg-stone-600"
		>
			<a href="/">Order</a>
		</button>
	</div>
	<div>
		<address class="font-b text-right text-sm not-italic">
			Morcellement Jubhoo MU,<br /> Trou-aux-Biches<br /> 22321
		</address>
	</div>
	<LangPicker />
</nav>
