---

---

<div id="about" class="p-4">
	<h2 class="mb-2 text-lg font-bold">About This Project</h2>
	<p class="text-gray-300">
		This is a simple project to demonstrate the use of Astro with Tailwind CSS.
	</p>
</div>
