---
import Navigation from "./navigation/Navigation.astro";
import burgerBg from "../assets/img/burger-bg.png";
import ninaLogo from "../assets/img/nina-logo.png";
---

<div>
	<Navigation />

	<main>
		<section id="hero" class="relative h-screen w-full">
			<img
				class="absolute bottom-0 left-0 z-10 h-full w-full object-cover object-bottom"
				src={burgerBg.src}
			/>
			<div>
				<a></a>
			</div>
			<img
				class="absolute top-1/2 left-1/2 z-0 h-min w-72 -translate-x-1/2 -translate-y-[450px] lg:w-96 2xl:z-20"
				src={ninaLogo.src}
			/>
		</section>
	</main>
</div>
