---
import Navigation from "./navigation/Navigation.astro";
import burgerBg from "../assets/img/burger-bg.png";
import ninaLogo from "../assets/img/nina-logo.png";
import MapPin from "@lucide/astro/icons/map-pin";
import MessageCircle from "@lucide/astro/icons/message-circle";
---

<section id="hero" class="relative mx-auto min-h-screen w-full max-w-[1712px] overflow-hidden">
	<!-- UI layer  -->
	<div
		class="absolute top-1/2 left-1/2 z-0 w-full -translate-x-1/2 -translate-y-[435px] lg:-translate-y-[450px]"
	>
		<img src={ninaLogo.src} class="max-h-[400px] w-full object-contain" />
		<div class="mx-auto w-72">
			<a
				target="_blank"
				class="inline-block -translate-x-8 -translate-y-0 lg:-translate-x-60 lg:-translate-y-0"
			>
				<div
					class="flex items-center gap-4 rounded-full border-2 px-4 py-2 text-center lg:px-6 lg:py-3"
				>
					<MessageCircle />
					<span>Order here!</span>
				</div>
			</a>
			<a class="inline-block translate-x-32 -translate-y-28 lg:translate-x-64 lg:-translate-y-32">
				<div
					class="flex items-center gap-4 rounded-full border-2 px-4 py-2 text-center lg:px-6 lg:py-3"
				>
					<MapPin /><span>We're here!</span>
				</div>
			</a>
		</div>
	</div>
	<img
		class="absolute top-0 left-0 z-10 h-full w-full overflow-visible object-cover object-bottom pt-[450px] lg:pt-[325px]"
		src={burgerBg.src}
	/>
</section>
